<!-- features home -->
	<div class="features-home segments">
		<div class="container-pd">
			<div class="section-title">
				<h3>Fitur</h3>
			</div>
			<div class="row">
				<div class="col-6 px-2">
					<div class="content b-shadow">
						<a href="<?php echo base_url('info/qr_code');?>"><h6><i class="fa fa-qrcode"></i>Lihat QR-CODE</h6></a>
					</div>
				</div>
				<div class="col-6 px-2">
					<div class="content b-shadow">
						<a href="<?php echo base_url('info/cuti_dokter');?>"><h6><i class="fa fa-calendar-check-o"></i>Cuti Saya</h6></a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6 px-2">
					<div class="content b-shadow">
						<a href="<?php echo base_url('info/riwayat_booking');?>"><h6><i class="fa fa-history"></i>Riwayat Kunjungan</h6></a>
					</div>
				</div>
				<div class="col-6 px-2">
					<div class="content b-shadow">
						<a href="<?php echo base_url('info/profile');?>"><h6><i class="fa fa-user"></i>Info Profile</h6></a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6 px-2">
					<div class="content b-shadow">
						<a href="<?php echo base_url('aplikasibpjs/view');?>"><h6><img src="<?php echo base_url('vendor/eleco/images/bpjs.png');?>" width="27"><i></i>Apps BPJS</h6></a>
					</div>
				</div>

				<div class="col-6 px-2">
					<div class="content b-shadow">
						<a href="<?php echo base_url('info/maps');?>"><h6><i class="fa fa-map"></i>Maps Rsud Kota Depok</h6></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- and features home -->