<!-- features home -->
	<div class="features-home segments">
		<div class="container-pd">
			<div class="section-title">
				<h3>Fitur</h3>
			</div>
			<div class="row">
				<div class="col-4 px-2">
					<div class="content b-shadow">
						<a href="<?php echo base_url('info/index');?>"><h6><i class="fa fa-user"></i>Info Profile</h6></a>
					</div>
				</div>

				<div class="col-4 px-2">
					<div class="content b-shadow">
						<a href="<?php echo base_url('info/chart');?>"><h6><i class="fa fa-bar-chart"></i>Statistik Booking</h6></a>
					</div>
				</div>

				<div class="col-4 px-2">
					<div class="content b-shadow">
						<a href="<?php echo base_url('info/ralan');?>"><h6><i class="fa fa-bar-chart text-success"></i>Reporting Rawat Jalan</h6></a>
					</div>
				</div>
			</div>


		</div>
	</div>
	<!-- and features home -->