<!-- filter home -->
	<div class="filter-home segments">
		<div class="container-pd">
			<div class="row">
				<div class="col-12 pb-2">
					<?php 
					  echo $this->site->notify();
					  unset($_SESSION['msg']);
					  unset($_SESSION['error']);
					?>
				</div>

				<div class="col-12 pb-2">
					<a href="<?php echo base_url('dashboard/index');?>" class="btn btn-primary col-12">Kembali</a>
				</div>

				<div class="col-12 px-2 card mb-2">
					<form method="post" action="<?php echo base_url('info/save');?>">
						<!-- <input type="hidden" name="sts_online" value="N"> -->
						<div class="row">
							<?php if($res[0]->email){?>
							<div class="col-11">
								<div class="no-mb">
									<h5>&nbsp;</h5>
									<input type="text" name="password2" class="form-group" placeholder="Silahkan ganti password disini.">
								</div>
							</div>
							<?php }else{?>
							<div class="col-6">
								<div class="no-mb">
									<h5>&nbsp;</h5>
									<input type="text" name="password2" class="form-group" placeholder="Silahkan ganti password disini.">
								</div>
							</div>
							<div class="col-5">
								<div class="no-mb">
									<h5>&nbsp;</h5>
									<input type="email" name="email" class="form-group" placeholder="Silahkan isi email anda disini.">
								</div>
							</div>
							<?php } ?>

							<div class="col-1">
								<div class="no-mb">
									<h5>&nbsp;</h5>
									<button type="submit" class="btn btn-primary">Simpan</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- end filter home -->