<!-- sign in -->
	<div class="sign-in segments-page">
		<div class="container">
			<?php 
			  echo $this->site->notify();
			  $this->session->unset_userdata('msg');
			  $this->session->unset_userdata('error');
			?>
			<div class="content b-shadow">
				<form method="post" action="<?php echo base_url('auth/checking');?>">
					<input type="text" name="username" placeholder="Masukan Kode Dokter">
					<input type="password" name="password" placeholder="Masukan Password Anda">
					<div class="infor">
						<ul>
							<!-- <li>
								<a href="">Forgot password?</a>
							</li> -->
							<!-- <li>
								<a href="">Create account</a>
							</li> -->
						</ul>
					</div>
					<button class="btn btn-primary active">Masuk</button>
				</form>

				<div class="social-login">
					<hr>
					<div class="row">
						<div class="col-12 px-2">
							<button class="button-full" style="background: #00acbf; color: #FFFFFF;" id="lupapassword"><i class="fa fa-key"></i> Lupa Password</button>
						</div>
					</div>
					<!-- <div class="row">
						<div class="col-6 px-2">
							<button class="button-full  button-linkedin">Linkedin</button>
						</div>
						<div class="col-6 px-2">
							<button class="button-full  button-google">Google+</button>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>

	<div class="content" style="display: none;" id="modalUmum">
		<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModal2">
		    <div class="modal-dialog" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
		                <h5 class="modal-title">Lupa Password</h5>
		            </div>
		            <div class="modal-body">
		            	<div class="form-element">
	            			<div class="container">
	            				<div class="content no-mb">
	            					<div class="form-group">
	            						<h5>Kode Dokter</h5>
					            		<div class="row">
					            			<div class="col-11">
					            				<input type="text" class="form-control col-12 kd" name="kode_dokter" placeholder="Masukan Kode Dokter anda">	
					            			</div>
					            			<div class="col-1">
					            				<span id="kode_dokter"></span>
					            			</div>
					            			<div class="col-12">
					            				<span class="text-kd"></span>
					            			</div>	
					            		</div>
					            	</div>
	            				</div>

	            				<div class="content no-mb">
	            					<div class="form-group">
	            						<h5>Email</h5>
					            		<div class="row">
					            			<div class="col-11">
					            				<input type="text" class="form-control col-12 kdemail" name="email" placeholder="Masukan email anda">	
					            			</div>
					            			<div class="col-1">
					            				<span id="email"></span>
					            			</div>
					            			<div class="col-12">
					            				<span class="text-email"></span>
					            			</div>	
					            		</div>
					            	</div>
	            				</div>
	            			</div>
	            		</div>
		            </div>
		            <div class="modal-footer">
		            	<button type="button" class="btn btn-primary" data-dismiss="modal" id="resetpassword" style="display: none;">Reset Password</button>&nbsp;
		                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
<?php 
	$this->site->get_template('inc/footer.html');
?>
<script type="text/javascript">
	var link = "<?php echo base_url('auth');?>";
	$(document).ready(function(){
		$('#lupapassword').click(function(){
			$('#modalUmum').css('display','block');	
			$('#exampleModal2').modal();
		});

		$('[name="kode_dokter"]').change(function(){
			var kode_dokter = $(this).val();
			$.ajax({
				type	: 'post',
				url 	: link+'/cekdokter',
				data 	: 'kode_dokter='+kode_dokter,
				success : function(res)
				{
					var dt = JSON.parse(res);
					if(dt.jumlah == 0)
					{
						$('#kode_dokter').html('<i class="fa fa-times-circle" style="font-size:35px; color:red;"></i>');
						$('.text-kd').html('<p class="text">Kode Dokter yang anda masukan salah</p>');
						$('#resetpassword').css('display','none');
						alert('Kode Dokter yang anda masukan salah.');
					}
					else
					{
						$('.text-kd').html('<p class="text">Kode Dokter yang anda masukan benar.</p>');
						$('#kode_dokter').html('<i class="fa fa-check-circle primary" style="font-size:35px;"></i>');
					}
				}
			});
		});

		$('[name="email"]').change(function(){
			var email = $(this).val();
			var kode_dokter = $('.kd').val();
			$.ajax({
				type	: 'post',
				url 	: link+'/cekemail',
				data 	: 'kode_dokter='+kode_dokter+'&email='+email,
				success : function(res)
				{
					var dt = JSON.parse(res);
					if(dt.jumlah == 0)
					{
						$('#email').html('<i class="fa fa-times-circle" style="font-size:35px; color:red;"></i>');
						$('.text-email').html('<p class="text">Email yang anda masukan salah</p>');
						$('#resetpassword').css('display','none');
						alert('Email yang anda masukan salah.');
					}
					else
					{
						$('.text-email').html('<p class="text">Email yang anda masukan benar.</p>');
						$('#email').html('<i class="fa fa-check-circle primary" style="font-size:35px;"></i>');
						$('#resetpassword').css('display','block');
					}
				}
			});
		});

		$('#resetpassword').click(function(){
			var kode_dokter = $('[name="kode_dokter"]').val();
			var email 		= $('[name="email"]').val();
			if(kode_dokter!='' && email!='')
			{
				$.ajax({
					type	: 'post',
					url 	: link+'/lupapassword',
					data 	: 'kd_dokter='+kode_dokter+'&email='+email,
					success : function(res)
					{
						var dt = JSON.parse(res);
						alert(dt.msg);
					}
				});
			}
		});
	});
</script>