<!-- slide -->
	<div class="slide">
		<div class="slide-show-home owl-carousel owl-theme">
			<div class="slide-content">
				<div class="mask"></div>
				<img src="<?php echo base_url('vendor/eleco/images/rsud-depok.jpg');?>" width="300" alt="">
				<div class="intro-caption">
					<h2>RSUD KOTA DEPOK</h2>
					<p>Jl. Raya Muchtar No.99, Sawangan Lama, Sawangan, Kota Depok, Jawa Barat 16511</p>
					<p>Telepon: (0251) 8602514</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end slide -->